<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>大笑.png</string>
		<key>name</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>微笑.png</string>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>偷笑.png</string>
		<key>name</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>吐舌.png</string>
		<key>name</key>
		<string>[吐舌]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>挖鼻.png</string>
		<key>name</key>
		<string>[挖鼻]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>伤心.png</string>
		<key>name</key>
		<string>[伤心]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>大哭.png</string>
		<key>name</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>无聊.png</string>
		<key>name</key>
		<string>[无聊]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>惊讶.png</string>
		<key>name</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>疑问.png</string>
		<key>name</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>委屈.png</string>
		<key>name</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>害羞.png</string>
		<key>name</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>感动.png</string>
		<key>name</key>
		<string>[感动]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>流汗.png</string>
		<key>name</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>头晕.png</string>
		<key>name</key>
		<string>[头晕]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>衰呀.png</string>
		<key>name</key>
		<string>[衰呀]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>斜眼.png</string>
		<key>name</key>
		<string>[斜眼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>抓狂.png</string>
		<key>name</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>咆哮.png</string>
		<key>name</key>
		<string>[咆哮]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>尴尬.png</string>
		<key>name</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>困了.png</string>
		<key>name</key>
		<string>[困了]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>鼓掌.png</string>
		<key>name</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>呕吐.png</string>
		<key>name</key>
		<string>[呕吐]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>闭嘴.png</string>
		<key>name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>拜拜.png</string>
		<key>name</key>
		<string>[拜拜]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>真强.png</string>
		<key>name</key>
		<string>[真强]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>真弱.png</string>
		<key>name</key>
		<string>[真弱]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>勾引.png</string>
		<key>name</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>OK.png</string>
		<key>name</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>握手.png</string>
		<key>name</key>
		<string>[握手]</string>
	</dict>
</array>
</plist>
